body
{
    background:#f8f8f8;
    font-family: 'Lato', sans-serif;
}

.datahub-meta {
  display: none;
}
.share-and-embed {
  display: none;
}
.react-me {
  padding: 15px 0;
}

p,h1,h2,h3,h4,h5,h6,ul,li
{
    padding:0px;
    margin:0px;
}
p {
    font-size:15px;
}
a {
    cursor: pointer;
}

.wrapper .navbar
{
    border-radius:0px !important;
    color:#f1f1f1;
    margin-bottom:0;
}
.wrapper .navbar .navbar-right
{
    color:#f1f1f1;
}
.wrapper .navbar a
{
    color:#f1f1f1 !important;
    font-size:15px;
}
.wrapper .navbar .navbar-right a
{
    margin:0px 20px 0px 20px;
}
.wrapper .navbar-brand
{
    height:auto;
}
.wrapper .navbar-inverse
{
    background:#3c3c3c;
}
.wrapper .main-heading
{
    margin:90px 0px 20px 0;
}
.wrapper .main-heading h1
{
    font-size:45px;
    font-family: 'Source Serif Pro', serif;
    letter-spacing: -1px;
}
.wrapper .main-heading p
{
    text-align:center;
    margin-top:20px;
    color:#525252;
    font-size:16px;
}

.wrapper .graph h4
{
    margin-top:20px;
    margin-bottom:10px;
    font-size:16px;
}
.wrapper .graph
{
    margin-top:50px;
}
.wrapper .graph h3
{
    font-size:18px;
    margin-top: 7px;
    margin-left: 25px;
}

/* Start Card */

.wrapper .background-card
{
    padding:20px;
    border-radius:2px;
    margin-top:15px;
}

.wrapper .background-card .info{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 1px 0 10px 0;
    border-top: 2px solid rgba(0,0,0,.15);
    border-bottom: 2px solid rgba(0,0,0,.15);
}

.wrapper .background-card h2
{
    font-size:30px;
}
.wrapper .background-card h4 
{
    padding-left:0;
    margin-top:10px;
    font-size:18px;
    margin:0;
}
.wrapper .background-card span
{
    font-size:30px;
}

.wrapper .card-height{
    height:450px;
    overflow: hidden;
}
.card-mrg
{
    margin-bottom:31px;
}
.wrapper .card
{
    margin-top: 15px;
    border-radius:2px;
}

/* Card contents */
.card-body .content-top{
    border-bottom: 1px dashed #e0e0e0;
    padding-bottom: 10px;
}
.card-body .content-top h4 {
    font-size:20px;
    color:#2b2b2b;
}
.card-body .content-top p {
    font-size:14px;
    color:#6f6f6f;
}

.card-body .content-main {
    padding:15px 0;
    height:315px;
    overflow: hidden;
}

.card-body .content-bottom p{
    font-size:12px;
    color:#6f6f6f;
}

.card-header:first-child {
    border-radius: 2px 2px 0 0;
}

.card-header {
    padding: 7px 10px;
    font-size: 13.5px;
    font-weight: 600;
}
.wrapper .card .card-body {
    padding:10px;
}
.background-card .border
{
    border-top:1px solid #000;
    font-weight:700;
    font-size:30px;
    margin:10px 0px 10px 0px;
    margin-left:0;
    width:35%;
}

.wrapper .row-card {
    margin-top:40px;
}

.background-card.card-blue, .card-header.card-blue {
    background-color:#4678a4;
    color:#fff;
}

.background-card.card-purple, .card-header.card-purple {
    background-color:#807085;
    color:#fff;
}

.background-card.card-green, .card-header.card-green {
    background-color:#557c85;
    color:#fff;
}

.background-card.card-red, .card-header.card-red {
    background-color:#a95f6d;
    color:#fff;
}
/* footer css */
footer {
    margin-top:220px;
    background-color:#3c3c3c;
    padding:20px 0;
}

footer ul {
    margin-top:15px;    
}

footer ul li a {
    color:#f1f1f1;
    padding-right:15px;
}

footer ul li a:hover {
    color:#fff;
}

/* End footer css*/


/* Responsive Media Query */
@media only screen and (max-width:768px) {

    .wrapper .main-heading p
    {
        padding:0;
    }
    footer .navbar-right
    {
        margin-top:0 !important;
    }
    .wrapper .navbar .navbar-right a
    {
        margin:0;
    }
    .wrapper .graph h3
    {
        margin-bottom: 13px;
        margin-left:0;
    }

}

@media screen and (min-width:1024px){
    
    #sel1 {
        position:relative;
        top:-3px;
    }
}